.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  padding: 10px 0;
  box-sizing: border-box;
}

.header-center-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.header-item {
  margin: 0;
}

body {
  background-color: rgb(3, 3, 10);
  color: white;
  font-family: "Roboto", "Open Sans", Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.light-theme {
  background-color: #f1f4f5;
  color: rgb(0, 0, 0);
  font-family: "Roboto", "Open Sans", Arial, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    gap: 20px;
  }

  .header-center-items {
    order: 1;
    flex-direction: column;
    gap: 20px;
  }

  .theme {
    position: static;
    order: 2;
    align-self: center;
    margin-top: 340px;
    transform: none;
    margin-right: 120px;
  }

  span {
    font-size: 1.2em;
  }

  #title {
    font-size: 1.5em;
    order: -1;
  }

  .chart-container {
    width: 95%;
  }
}

/* From Uiverse.io by JkHuger */
/* Theme Toggle */
.theme {
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 5.6%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 2;
}

.theme__fill {
  transition: 0.3s;
}

.theme__fill {
  background-color: var(--bg);
  display: block;
  mix-blend-mode: difference;
  position: fixed;
  inset: 0;
  height: 100%;
  transform: translateX(-100%);
}

.theme__toggle {
  z-index: 1;
}

.theme__label,
.theme__toggle,
.theme__toggle-wrap {
  position: relative;
}

.theme__toggle,
.theme__toggle:before {
  display: block;
}

.theme__toggle {
  background-color: hsl(48, 90%, 85%);
  border-radius: 25% / 50%;
  box-shadow: 0 0 0 0.125em var(--primaryT);
  padding: 0.25em;
  width: 6em;
  height: 2.7em;
  -webkit-appearance: none;
  appearance: none;
  transition: background-color var(--transDur) ease-in-out,
    box-shadow 0.15s ease-in-out, transform var(--transDur) ease-in-out;
}

.theme__toggle:hover {
  cursor: pointer;
}

.theme__toggle:before {
  background-color: hsl(48, 90%, 55%);
  border-radius: 50%;
  content: "";
  width: 2.2em;
  height: 2.2em;
  transition: 0.3s;
}

.theme__toggle:focus {
  box-shadow: 0 0 0 0.125em var(--primary);
  outline: transparent;
}

/* Checked */
.theme__toggle:checked {
  background-color: hsl(198, 90%, 15%);
}

.theme__toggle:checked:before,
.theme__toggle:checked {
  transform: translateX(3em);
}

.theme__toggle:checked:before {
  background-color: hsl(198, 90%, 55%);
}

.theme__toggle:checked ~ .theme__fill {
  transform: translateX(0);
}

.theme__toggle:checked:nth-child(1) {
  transform: scale(1);
}

.theme__toggle:checked:nth-child(2) {
  transform: rotate(45deg) translateY(0.8em);
}

.theme__toggle:checked:nth-child(3) {
  transform: rotate(90deg) translateY(0.8em);
}

.theme__toggle:checked:nth-child(4) {
  transform: rotate(135deg) translateY(0.8em);
}

.theme__toggle:checked:nth-child(5) {
  transform: rotate(180deg) translateY(0.8em);
}

.theme__toggle:checked:nth-child(6) {
  transform: rotate(225deg) translateY(0.8em);
}

.theme__toggle:checked:nth-child(7) {
  transform: rotate(270deg) translateY(0.8em);
}

.theme__toggle:checked:nth-child(8) {
  transform: rotate(315deg) translateY(0.8em);
}

.theme__toggle:checked:nth-child(9) {
  transform: rotate(360deg) translateY(0.8em);
}

.theme__toggle-wrap {
  margin: 0 0.75em;
}

@supports selector(:focus-visible) {
  .theme__toggle:focus {
    box-shadow: 0 0 0 0.125em var(--primaryT);
  }

  .theme__toggle:focus-visible {
    box-shadow: 0 0 0 0.125em var(--primary);
  }
}
