.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
    align-items: center;
    text-align: center;
    color: white;
}

.header-item {
    margin: 0;
}

body {
    background-color: rgb(3, 3, 10);
    color: white;
    font-family: Arial, sans-serif;
}

span {
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .header-container {
        gap: 5px;
    }
    span {
        font-size: 1em;
    }
    #title {
        font-size: 1.5em;
    }
}