<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bogo-it!</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header-container">
        <div class="header-center-items">
            <span id="timer" class="header-item">0 days 00:00:00</span>
            <h1 id="title" class="header-item">Bogo It!</h1>
            <span id="shuffleCount" class="header-item">Shuffles: 0</span>
        </div>
    </div>
    <label for="theme" class="theme">
        <span class="theme__toggle-wrap">
            <input id="theme" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark">
        </span>
    </label>
    <canvas id="myChart" width="400" height="178"></canvas>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
